/*---------------------------MY CODE---------------------------------*/
/*
* Colors to use if we want to mimick the mealdeliverysoftware.com color scheme
* #6D8B98
* #7FA4B2
* #939393
*/

* {
  text-decoration: none;
}

header {
  background-color: #6D8B98;
  width: 100%;
  height: 50px;
}

header nav ul {
  display: block;
  margin: 0 auto;
  width: fit-content;
}

header nav ul li {
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0px 16px;
}

header nav ul li a {
  font-size: 16px;
  color: #fff;
}

header nav ul li a.hover {
  color: #DC143C;
}

/*Desktop Version header*/
@media only screen and (min-width: 1000px) {
  header nav ul {
    margin: 20px 0px 0px 20px;
    float: left;
  }

  header nav ul li a {
    line-height: 15px;
  }
}

table {
  border-collapse: collapse;
}

table th{
  text-alight: left;
  background-color: #6D8B98;
  color: #fff;
  padding: 4px 30px 4px 8px;
}

table td {
  border: 1px solid #e3e3e3;
  padding: 4px 8px;
}

/* Every other row color differently */
table tr:nth-child(odd) td {
  background-color: #DCDCDC;
}

/* Always set the map height explicitly to define the size of the div
 * element that contains the map. */
#map {
  height: 100%;
  width: 100%;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
