html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#main-container {
    height: 100%;
}

#map {
    height: 50%;
    width: 60%;
    float: right;
    margin-top: 200px;
    border-style: solid;
    border-width: 2px;
}